In [ ]:
i = 1            
while i <= 6:    #statements indented under the while condi keeps executing until the given while condi becomes untrue
    print(i)     #then statements under which r not indented gets executed(if there are any)
    i = i + 1    #remember to always bring a code which later makes the while condi untrue or else it will keep running
                # cos it will always be true.

print('we are done')

In [6]:
print('hello world, \nMy name is benny')

hello world,
My name is benny

In [7]:
print('hey,watsap? how are u doing today? \nwill u come to school?')

hey,watsap? how are u doing today?
will u come to school?

In [8]:
print('yo gee wossop? when u dey come?\ni miss you bro')

yo gee wossop? when u dey come?
i miss you bro

In [9]:
chris = str(20) + ' years'
adjoa = '40 years'
print(chris + ' ' + adjoa)
print('hello bro, how old is chris? \n' + 'he is ' + chris)

20 years 40 years
hello bro, how old is chris?
he is 20 years

In [10]:
#\n xter always has to be in ''
print(chris + '\n' + adjoa)

20 years
40 years

In [11]:
#input fnx doesn't work here cos of notebook
name = input('what be your name?')
name

''

In [12]:
sent = 'he is a good boy'
sent.upper()
sent.lower()
sent.capitalize()
sent.count('o')

3

In [13]:
print(chris + '\n' + sent)

20 years
he is a good boy

In [14]:
a = 22
b = 25
print(float(a + b))

47.0

In [15]:
print(a + b)

47

In [16]:
print(str(a) + str(b))

2225

In [17]:
from datetime import datetime, timedelta
current_date = datetime.now()
print('today is ' + str(current_date))

today is 2022-08-15 02:03:47.590883

In [18]:
current_date.year
current_date.month
current_date.hour
current_date.minute

3

In [19]:
print('todays month is ' + str(current_date.month) + '\nthe time right now is ' + str(current_date.hour) + ':' + str(current_date.minute))

todays month is 8
the time right now is 2:3

In [20]:
one_day = timedelta(days=1)

In [21]:
yesterday = current_date - one_day
yesterday.day

14

In [22]:
one_week = timedelta(weeks=1)
one_week

datetime.timedelta(days=7)

In [23]:
last_week = current_date - one_week
last_week.day

8

In [24]:
one_month = timedelta(days=30)
last_month = current_date - one_month
last_month.month
print('last month was ' + str(last_month.month))

last month was 7

In [25]:
m =23
m +=7
m

30

In [26]:
ben = 'heyatata'
ben[0:4]

'heya'

In [27]:
ben[0]

'h'

In [28]:
ben[4:]

'tata'

In [29]:
ben[:4]

'heya'

In [30]:
kw, lw, mw = 45, 35, 24

In [31]:
kw, lw, mw

(45, 35, 24)

In [32]:
kw = mw =lw = 'heyy'

In [33]:
kw, lw

('heyy', 'heyy')

In [34]:
9/2

4.5

In [35]:
9//2 #gives whole number answer

4

In [36]:
20%3 #gives the remainder part of the answer

2

In [37]:
kob = [23,24,25, 'benny',None, False, 'teddy']  #list can contain elements with diff data types

In [38]:
kob[3:6]

['benny', None, False]

In [39]:
kob[4]

In [40]:
kob[0:]

[23, 24, 25, 'benny', None, False, 'teddy']

In [41]:
kob[-1]

'teddy'

In [42]:
kob[-1] = 'shady'

In [43]:
kob

[23, 24, 25, 'benny', None, False, 'shady']

In [44]:
kob[-1] = 456

In [45]:
kob

[23, 24, 25, 'benny', None, False, 456]

In [46]:
kob.pop(-1)

456

In [47]:
kob

[23, 24, 25, 'benny', None, False]

In [48]:
kob.append('heya')

In [49]:
kob

[23, 24, 25, 'benny', None, False, 'heya']

In [50]:
23 in kob

True

In [51]:
kob.pop(6)

'heya'

In [52]:
kob

[23, 24, 25, 'benny', None, False]

In [53]:
kob.insert(1,'ben')

In [54]:
kob

[23, 'ben', 24, 25, 'benny', None, False]

In [55]:
kob.insert(1,23)

In [56]:
kob

[23, 23, 'ben', 24, 25, 'benny', None, False]

In [57]:
kob.remove(23)

In [58]:
kob

[23, 'ben', 24, 25, 'benny', None, False]

In [59]:
den = dict()

In [60]:
den['name'] = 'bennywaga'
den

{'name': 'bennywaga'}

In [61]:
den['age'] = 23
den['salary'] = 2500
den

{'name': 'bennywaga', 'age': 23, 'salary': 2500}

In [62]:
kof = {'name':'kofi', 'age': 34, 'class':'upper'}
kof

{'name': 'kofi', 'age': 34, 'class': 'upper'}

In [63]:
kof['age'] = 20

In [64]:
kof

{'name': 'kofi', 'age': 20, 'class': 'upper'}

In [65]:
kof.values()

dict_values(['kofi', 20, 'upper'])

In [66]:
kof.get('age', 'not found') #use this fnx to get a key, n specify what to display if not found.

20

In [67]:
kof.get('address', 'not found')

'not found'

In [68]:
kof.pop('name')

'kofi'

In [69]:
kof

{'age': 20, 'class': 'upper'}

In [70]:
'age' in kof

True

In [71]:
kof['class']

'upper'

In [72]:
benny = [23,23,34,56,78,68]
len(benny)

6

In [73]:
if len(benny) == 5:            #if statements only used on ><== !=
    print('contains 5 items')
    print(benny)
else:
    print('not applicable')
    print('cannot display')

not applicable
cannot display

In [74]:
if len(benny) == 6:
    print('contains 5 items')
    print(benny)
else:
    print('doesnt contain 5 itmes')
    print('cannot display')

contains 5 items
[23, 23, 34, 56, 78, 68]

In [75]:
if len(benny) == 1:
    print(benny)
elif len(benny) == 2:
    print(benny)
elif len(benny) == 3:
    print(benny)
elif len(benny) == 6:
    print(benny)
elif len(benny) == 6:

SyntaxError: incomplete input (1336011301.py, line 9)

In [ ]:
if len(benny) == 1:    #u can add else staement also at the end.
    print(benny)
elif len(benny) == 2:
    print(benny)
elif len(benny) == 3:
    print(benny)
elif len(benny) == 7:
    print(benny)
elif len(benny) == 6:
    print('found itttt')
elif len(benny) == 4:
    print('heyyy')

found itttt

In [ ]:
if len(benny) == 1:
    print(benny)
elif len(benny) == 2:
    print(benny)
elif len(benny) == 3:
    print(benny)
elif len(benny) == 4:
    print(benny)
else:
    print('all conditions not met')

all conditions not met

In [ ]:
if len(benny) == 5:
    print(benny)
    if 23 in benny:
        print(23)
        if 25 in benny:
            print (25)
        else:
            print('not found')
else:
    print('all be allo')

all be allo

In [ ]:
benny

[23, 23, 34, 56, 78, 68]

In [ ]:
if len(benny) == 6:
    print(benny)
    if 23 in benny:
        print(23)
        if 25 in benny:
            print (25)
        else:
            print('not found')
        
else:
    print('all be allo')

[23, 23, 34, 56, 78, 68]
23
not found

In [ ]:
if len(benny) == 6:
    print(benny)
    if 28 in benny:
        print(28)
        if 25 in benny:
            print (25)
        else:
            print('not found')
else:
    print('all be allo')

[23, 23, 34, 56, 78, 68]

In [6]:
i = 1            
while i <= 6:       #statements indented under the while conditional statement keeps executing until the while condi here becomes untrue
    print(i)       #then statements under which r not indented gets executed(if there are any)
    i = i + 1

print('we are done')

1
2
3
4
5
6
we are done

In [ ]:
i = 1        
while i <= 6:
    print(i)
    i = i + 1

1
2
3
4
5
6

In [78]:
i = 1
while i<=10:
    i = i + 1
    print(i)
    if i == 7:
        print('the end')
        break
print('we made it')

2
3
4
5
6
7
the end
we made it

In [79]:
i = 1
while i<=10:
    print(i)
    if i == 7:
        print('the end')
        break
    i = i + 1
print('we made it')

1
2
3
4
5
6
7
the end
we made it

In [4]:
i = 0
while i < 10:        #before u use continue statement in a loop, make sure the increament code comes(i = i+1) before the continue statement or else loop will never end.
    i = i + 1        #however in a break statement, it could anywhere.
    if i % 2 == 0:
        print(str(i) + ' is even')
        continue
    print(str(i) + ' is odd')
print('we are done')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
we are done

In [9]:
ken = range(1,10)
for i in ken:
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
ben = range(5, 20, 2)
for values in ben:
    print(values)

5
7
9
11
13
15
17
19

In [12]:
for values in [2,3,4,5,6] :
    print(values)

2
3
4
5
6

In [14]:
person = {'name' : 'kweku', 'age' : 23, 'work': 'analyst'}

In [22]:
for values in person:   #using for loops on a dict, only keys gets displayed. use .values()/.items() to display values/key value pairs.
    print(values)

name
age
work

In [21]:
for ele in (34, 35, 36, 37):
    print(ele)

34
35
36
37

In [2]:
wee = [23,266,45,67,89,90,99]

In [3]:
wee.sort()
wee

[23, 45, 67, 89, 90, 99, 266]

In [17]:
wee.sort(reverse=True)
wee

[266, 99, 90, 89, 67, 45, 23]

In [18]:
wee

[266, 99, 90, 89, 67, 45, 23]

In [14]:
hen = [23,24,38,25,45]

In [15]:
hen.reverse()
hen

[45, 25, 38, 24, 23]

In [16]:
hen

[45, 25, 38, 24, 23]

In [25]:
ben = ['ko', 'koj', 44, 'dema', 34, 26, 'tell']

In [32]:
ben.reverse()
ben

['tell', 26, 34, 'dema', 44, 'koj', 'ko']

In [33]:
ben

['tell', 26, 34, 'dema', 44, 'koj', 'ko']

In [35]:
ben[::-1]

['ko', 'koj', 44, 'dema', 34, 26, 'tell']

In [38]:
ben

['tell', 26, 34, 'dema', 44, 'koj', 'ko']

In [37]:
for items in ben:
    print(items)

tell
26
34
dema
44
koj
ko

In [44]:
for items in ben[::-1]:
    print(items)

ko
koj
44
dema
34
26
tell

In [46]:
list = [3,4,5,6,7,8,9,1,2]
list[::-1]

[2, 1, 9, 8, 7, 6, 5, 4, 3]

In [57]:
list[0:9:1]  #here when skip=1, no element gets skipped ocs thats the default value

[3, 4, 5, 6, 7, 8, 9, 1, 2]

In [61]:
list[0:9:2] #when skip=2, only 1 elements gets skipped in each step

[3, 5, 7, 9, 2]

In [62]:
list[0:9:3]  #when skip is 3, 2 elements gets picked and then the next is taken.

[3, 6, 9]