In [1]:
def benny(name='starnger'):
    print('hello ' + name)
    print('how are you today ' + name)

In [2]:
benny()

hello starnger
how are you today starnger

In [16]:
benny(name='kweku')

hello kweku
how are you today kweku

In [67]:
def even_numbers(your_list):
    #this fxn accepts a list of int and returns the even numbers out of it
    final_list = []
    for value in your_list:
        if value % 2== 0:
            final_list.append(value)
    return final_list                  #note that the return statement which will return the final results should always be on the same vertical line as the first statement under the fxn

In [58]:
ayo = [24,25,233,345,4665,55,68,80,90,0,35,44,]

In [69]:
even_numbers(ayo)

[24, 68, 80, 90, 0, 44]

In [70]:
ken = [23,24,25,26]
ben = [34,35,36,37]

In [72]:
for i, j in zip(ken, ben):
    print(i,j)

23 34
24 35
25 36
26 37

In [75]:
person = ['ben', 'ken','ama']
animal = ['dog', 'cat', 'rat']

In [78]:
for names, pet in zip(person, animal):
    print(names + ' :- '  + pet)

ben :- dog
ken :- cat
ama :- rat

In [79]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [101]:
a = 34
r = 'win'
b = 0
t = None
bool(b)

False

In [95]:
bool(a)

True

In [97]:
bool(r)

True

In [102]:
bool(t)

False

In [104]:
type(t)

NoneType

In [105]:
num = 45.678

In [107]:
import math

In [113]:
math.ceil(num)

46

In [112]:
math.floor(num)

45

In [132]:
chat = '  my name is kweku \n'
chat

'  my name is kweku \n'

In [130]:
chat.strip()  #removes spaces and \n xters

'my name is kweku'

In [143]:
chat

'  my name is kweku \n'

In [151]:
vee = 'homowo'

In [156]:
vee.split('o')

['h', 'm', 'w', '']

In [4]:
import numpy as np
help(np.concatenate)

Help on function concatenate in module numpy:

concatenate(...)
    concatenate((a1, a2, ...), axis=0, out=None, dtype=None, casting="same_kind")

    Join a sequence of arrays along an existing axis.

    Parameters
    ----------
    a1, a2, ... : sequence of array_like
        The arrays must have the same shape, except in the dimension
        corresponding to `axis` (the first, by default).
    axis : int, optional
        The axis along which the arrays will be joined.  If axis is None,
        arrays are flattened before use.  Default is 0.
    out : ndarray, optional
        If provided, the destination to place the result. The shape must be
        correct, matching that of what concatenate would have returned if no
        out argument were specified.
    dtype : str or dtype
        If provided, the destination array will have this dtype. Cannot be
        provided together with `out`.

        .. versionadded:: 1.20.0

    casting : {'no', 'equiv', 'safe', 'same_kind', 'unsafe'}, optional
        Controls what kind of data casting may occur. Defaults to 'same_kind'.

        .. versionadded:: 1.20.0

    Returns
    -------
    res : ndarray
        The concatenated array.

    See Also
    --------
    ma.concatenate : Concatenate function that preserves input masks.
    array_split : Split an array into multiple sub-arrays of equal or
                  near-equal size.
    split : Split array into a list of multiple sub-arrays of equal size.
    hsplit : Split array into multiple sub-arrays horizontally (column wise).
    vsplit : Split array into multiple sub-arrays vertically (row wise).
    dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).
    stack : Stack a sequence of arrays along a new axis.
    block : Assemble arrays from blocks.
    hstack : Stack arrays in sequence horizontally (column wise).
    vstack : Stack arrays in sequence vertically (row wise).
    dstack : Stack arrays in sequence depth wise (along third dimension).
    column_stack : Stack 1-D arrays as columns into a 2-D array.

    Notes
    -----
    When one or more of the arrays to be concatenated is a MaskedArray,
    this function will return a MaskedArray object instead of an ndarray,
    but the input masks are *not* preserved. In cases where a MaskedArray
    is expected as input, use the ma.concatenate function from the masked
    array module instead.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> b = np.array([[5, 6]])
    >>> np.concatenate((a, b), axis=0)
    array([[1, 2],
           [3, 4],
           [5, 6]])
    >>> np.concatenate((a, b.T), axis=1)
    array([[1, 2, 5],
           [3, 4, 6]])
    >>> np.concatenate((a, b), axis=None)
    array([1, 2, 3, 4, 5, 6])

    This function will not preserve masking of MaskedArray inputs.

    >>> a = np.ma.arange(3)
    >>> a[1] = np.ma.masked
    >>> b = np.arange(2, 5)
    >>> a
    masked_array(data=[0, --, 2],
                 mask=[False,  True, False],
           fill_value=999999)
    >>> b
    array([2, 3, 4])
    >>> np.concatenate([a, b])
    masked_array(data=[0, 1, 2, 2, 3, 4],
                 mask=False,
           fill_value=999999)
    >>> np.ma.concatenate([a, b])
    masked_array(data=[0, --, 2, 2, 3, 4],
                 mask=[False,  True, False, False, False, False],
           fill_value=999999)

In [1]:
import numpy as np